.idea
.DS_Store
/Jx1Source/bin/client/data
/Jx1Source/bin/client/music
/Jx1Source/bin/client/UserData
/Jx1Source/bin/client/debug
/Jx1Source/bin/server/debug
/Jx1Source/bin/server/databasetong
/Jx1Source/bin/server//databasetongmember
/Jx1Source/bin/server/database
/Jx1Source/bin/server/dbfriend
/Jx1Source/bin/server/payserver_log
/Jx1Source/bin/server/relayserver_log
/Jx1Source/bin/server/relay_log
/Jx1Source/bin/server/TongMemberDB
/Jx1Source/bin/server/TongDB
/Database
.log
debug
release
payserver_log
relayserver_log
ClientDebug
ClientRelease
ServerDebug
ServerRelease
Engine___Win32_OuRead_Release
Engine___Win32_OutRead_Debug
FilterText_StaticLib___Win32_Debug
FilterText_StaticLib___Win32_Release
